<div class="new-user-form">
    <div class="title-box">
        <p>New User</p>
    </div>
    <div class="data-column">
        <div class="data-row">
            <input [(ngModel)]="data.user.name">
            <p class="attribute-name">Name</p>
        </div>
        <div class="data-row">
            <input [(ngModel)]="data.user.surname">
            <p class="attribute-name">Surname</p>
        </div>
    </div>
    <div class="data-column">
        <div class="data-row">
            <input [(ngModel)]="data.user.phoneNumber">
            <p class="attribute-name">Phone number</p>
        </div>
        <div class="data-row">
            <input [(ngModel)]="data.user.opNumber">
            <p class="attribute-name">Id number</p>
        </div>
    </div>
    <div class="data-column">
        <div class="data-row">
            <input [(ngModel)]="data.user.username">
            <p class="attribute-name">Username</p>
        </div>
        <div class="data-row">
            <input type="password" [(ngModel)]="data.user.password">
            <p class="attribute-name">Password</p>
        </div>
    </div>
    <div class="data-column">
        <button (click)="onCloseDialog()">Add</button>
    </div>
</div>
