<div class="car-card"  (click)="carCardClick()">
    <div class="car-card-header">
        <h1>{{carModel.brand}}</h1>
    </div>
    <div class="car-card-info-column">
        <img class= "icon" src = "../../../assets/icons/license.svg"/>
        <div class="car-card-info-row">
            <p class="attribute-value">{{carModel.spz}}</p>
            <p class="attribute-name">License</p>
        </div>
    </div>

    <div class="car-card-info-column">
        <img class= "icon" src = "../../../assets/icons/calendar.svg"/>
        <div class="car-card-info-row">
            <p class="attribute-value">{{carModel.yearOfManufacture}}</p>
            <p class="attribute-name">Year of manufacture</p>
        </div>
    </div>
</div>
