@import "../../../styles/color";

:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .cars-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;

        .car-card-info{
            width: 50%;
        }
    }
    
    .header{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        border-bottom: $colour_main_text solid 3px;
        h1{
            color: $colour_main_text;
            font-family: 'Helvetica Neue', sans-serif; 
            font-size: 36px; 
            font-weight: bold;
            line-height: 1;
            letter-spacing: 1px; 
        }
    }
}